.login-page-container {
  background-color: rgb(0, 188, 235);

  .content {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 24px;

    .logo-container {
      text-align: left;
      color: white;

      h1 {
        font-weight: bolder;
      }

      h3 {
        font-weight: normal;
        margin: 0;
      }
    }
  }

  .footer {
    height: 60px;
    background-color: rgb(17, 106, 189);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .company-name {
      color: rgb(0, 188, 235);
      margin: 0 4px;
    }
  }
}
